<div class="container">
  <h1>Recipe:</h1>
  <div class='recipe-box'>
    <h3><%= @recipe.title %></h3>
    <label>By "<%= @recipe.fields.key?(:chef) ? @recipe.chef.name : '' %>"</label>

    <img class='recipe-image' src="<%= @recipe.photo.url %>" />
    <p><%= @recipe.description %></p>
    <em>Tags: <%= @recipe.fields.key?(:tags) ? @recipe.tags.collect(&:name).join(',') : '' %></em>
  </div>
  <button onclick="goBack()">Back</button>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>